.createacard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}
.createacard h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}
.createacard h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.createacard p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.createacardBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45rem;
    max-width: 100%;
    height: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}
.createacardBodyLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45rem;
    height: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}
.createacardBodyRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45rem;
    height: 100%;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}